[submodule "src/dependencies/ch376-lib"]
	path = src/dependencies/ch376-lib
	url = https://github.com/orix-software/ch376-lib
[submodule "dependencies/twilighte-lib"]
	path = dependencies/twilighte-lib
	url = https://github.com/orix-software/twilighte-lib.git
